body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0; padding: 10px; width: 100%; height: 100%;
}

table{
  width: 100%;
}

th,td{
  text-align: left;
}